$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "leaflet/dist/leaflet.css";
@import "leaflet-easybutton/src/easy-button.css";

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100vw;
}

#map {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

.leaflet-bar a,
.leaflet-bar button,
.leaflet-bar button:hover,
.leaflet-touch .leaflet-control-layers-toggle,
.leaflet-control-layers-expanded,
.leaflet-container .leaflet-control-attribution {
  color: var(--bs-secondary-color);
  background-color: var(--bs-secondary-bg);
}

.leaflet-bar a:hover,
.leaflet-bar a:focus {
  background-color: var(--bs-tertiary-bg);
}

.leaflet-tooltip {
  color: var(--bs-body-color);
}

.leaflet-layer {
  background-color: var(--bs-body-bg);
}

.leaflet-tooltip.map-labels {
  border: none;
  background-color: unset;
  box-shadow: none;
}

.leaflet-tooltip.map-labels::before {
  opacity: 0;
}

button.easy-button-button {
  font-size: 16px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  background-image: unset;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

#offcanvasEditProfiles {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #offcanvasEditProfiles {
    width: 575px;
  }
}

#offcanvasTargetList {
  width: 100%;
}

@media screen and (min-width: 992px) {
  #offcanvasTargetList {
    width: 768px;
  }
}

#tableOfTargetsBody {
  cursor: pointer;
  vertical-align: middle;
}

// width of column that holds the icon
#tableOfTargetsBody > tr > td:nth-child(1) {
  width: 50px;
}

// dims of the icon
#tableOfTargetsBody svg {
  height: 40px;
  width: 40px;
}

.blueStuff {
  z-index: 1000;
}

#targetCounts {
  position: absolute;
  top: 0;
  right: 0;
  width: 7em;
  z-index: 500;
}
